@{
    ViewData["Title"] = "About";
    var ble = ViewData["Files"];
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>@ble</h3>

<p>Use this area to provide additional information.</p>
